* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

:root {
    --ff-primary: "Source Lato Pro" "Lato";
    --ff-secondary: "Source Code Pro" "Merriweather";
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.12em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 1080px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}


nav {
    display: none;
}


.portafolio__img {
    transition: transform 750ms cubic-bezier(.5,0,.5,1);
    opacity: 250ms linear;
}

.portafolio__item:focus{
    position: relative;
    z-index: 2;

}

.portafolio__img:hover,
.portafolio__item:focus .portafolio__img {
    transform: scale(1.2);
    opacity: .5;

}

.section__title--services {
    color: var(--clr-accent);

    &::after {
        display: block;
        width: 25%;
        height: 1px;
        margin: 0 .5em auto 1em;
        background: var(--clr-light);
        opacity: 0.25;
    }
}

.btn:hover {
    transform: scale(1.1);
}

@media (min-width: 990px) {
    .services {
        display: flex;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

.about-me-img {
    box-shadow: var(--bs);
}

@media (min-width: 660px) {
    .about-me {
        grid-template-areas: "title img", "subtitle img", "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 1;
        position: relative;
        left: -1em;
        width: calc(100% + 1em);
        padding-left: 1em;
        padding-right: calc(200px + 2em);
    }

    .about-me-image {
        grid-area: img;
        position: relative;
        justify-content: center;
        z-index: 2;
    }
}




